body{
  font-size:25px;
  color:#ffffff;
  background-color: #FDEDEC;
  font-family: cursive;
  /*margin-top:5px;*/
 
}

#header-nav{
  background-color: #E74C3C/*#7DCEA0*/ /*#82E0AA*//*#F35F5F*/;
  /*opacity:90%;*/
  border-radius:1px;
  border:0;
  padding-top:10px;
  padding-bottom:10px;
}


#logo-img {
  background: url('../images/chef-logo.png') no-repeat;
  background-size:cover;
  width: 115px;
  height: 100px;
  margin: 10px 10px 10px 0;
}

.navbar-brand{
  padding-top:7px;
}
.navbar-brand h1{
  font-family: fantasy;
  /*font-weight: bold;*/
  color:#F1C40F/*#0094B6 */;
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #000;
  margin:0px;
  /*line-height:1;*/
}
.navbar-brand a:hover{
   text-decoration: none;
}
.navbar-brand p{
  color:#404040;
  text-transform:uppercase;
  font-family: monospace;
  margin-top:5px;
}

.navbar-brand p span{
  vertical-align: middle;
}

#nav-list{
  margin-top: 20px;
}

#nav-list a{
  text-decoration: none;
  color:#7B241C /*#F7DC6F*//*#34495E */;
  text-align:center;
  margin-left:5px;
}
#nav-list a:hover{
  /*color: #E74C3C;*/
  background-color:  #FDEDEC/*#F0F3F4*//*#F9F5F5*/;
  border-radius:5px;
}
#nav-list a{
  font-size:1.1em;
}

#phone{
  margin-top:5px;
}
#phone a{
  text-align:right;
  padding-bottom:5px;
}
#phone div{
  color:#900C3F;
  font-size: 75%;
  text-align:right;
  padding-right:28px;
  /*padding-bottom:15px;*/
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 2px solid #F1C40F;
}
.navbar-header button.navbar-toggle{
  clear: both;
  /*margin-top:-10px;*/
}

#collapsable-nav a span{
  margin-right: 10px;
}
/* END OF HEADER*/


.container .jumbotron{
  background: url(../images/restaurant.jpg);
  box-shadow: 0 0 30px #000;
  border: 1px solid #3F0C1F;
}

#menu-tile, #special-tile, #map-tile{
   text-decoration:none;
  height:250px;
  width:100%;
  position:relative;
  margin-bottom:15px;
  border:2px solid #3F0C1F;
  overflow:hidden;
 border-radius: 5px;
  text-align:center;
}
#menu-tile:hover, #special-tile:hover, #map-tile:hover{
   text-decoration:none;
  box-shadow: 0 1px 5px 1px #cccccc;
  }
#menu-tile{
  background: url('../images/menu-1.jpeg') ;
  background-size: 100%   100%;
  background-position:center; 
}
#special-tile{
  background: url('../images/specials.jpeg');
   background-size: 100%   100%;
  background-position:center;
}
#menu-tile span, #special-tile span, #map-tile span{
   position:absolute;
   bottom:0;
   right:0;
   width:100%;
   text-align: center;
   font-size:1.4em;
   text-transform:uppercase;
   background-color:#000;
   color:#fff;
   opacity:0.75;
}


.panel-footer{
  margin-top:30px;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#222;
  opacity: 95%;
  border-top:0;
  font-family: monospae;
  font-size:0.8em;
}
.panel-footer div .row{
  margin-bottom: 30px;
}
#hours, #address{
  line-height:2;
}
#hours > span, #address > span{
  font-size:1.2em;
}
#address p{
  color: #557c3e;
  font-size:.8em;
  line-height: 1.6;
}
#testimonials{
  /*font-family:monospace;*/
  font-style:italic;
  /*font-size:0.9em;*/
}
#testimonials p:nth-child(2){
margin-top:25px;
}

/*//----------------------End of Home page----------------------//*/

.category-title{
  position:relative;
  height:200px;
  width:200px;
  border:1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  overflow:hidden;
  margin: 0 auto 15px;
  
}
.category-title span{
  position:absolute;
  bottom:0;
  right:0;
  width:100%;
  text-align:center;
  font-size:1em;
  text-transform:uppercase;
  background-color:#000;
  opacity:0.8;
  color:white;
}

.category-title:hover{
  box-shadow:0 1px 5px 1px #cccccc;
}

#menu-title + div{
  margin-bottom:50px;
}

/*//----------------------End of MENU PAGE----------------------//*/

#main-content #tag-line{
color:#404040 ;
font-size:0.8em;
margin-bottom:50px;
}
.menu-item-tile{
  margin-bottom:25px;
  color:#000;
}
.menu-item-tile hr{
  width:80%;
}
.menu-item-tile .menu-item-price{
  font-size:0.6em;
  text-align:center;
  /*margin-top:-15px;*/
  margin-right:-15px;
}
.menu-item-tile .menu-item-price span{
  font-size:0.6em;
}
.menu-item-photo{
  position:relative;
  border:1px solid #000;
  overflow:hidden;
  padding:0;
  margin-right:-15px;
  /*margin-left:auto;*/
  margin-bottom:5px;
  max-width:250px;
}
.menu-item-photo div{
  position:absolute;
  bottom:0;
  right:0;
  width:80px;
  color:#fff;
  background-color: #000;
  opacity:0.8;
  text-align:center;
}

h3.menu-item-title{
  margin: 0 0 10px;
}
.menu-item-details{
  font-size:0.6em;
  font-style:italic;
  text-align: justify;
}



@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/restaurant.jpg') cover;
    background-size: 100% 100%;
    height: 625px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url('../images/chef-logo-medium.png') no-repeat;
    background-size: contain;
    width: 105px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  .container .jumbotron {
    background: url('../images/restaurant.jpg') cover;
    background-size: 100% 100%;
    height: 558px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url('../images/restaurant.jpg') cover;
    background-size: 100% 100%;
    height: 432px;
  }

}

@media (max-width: 767px) {
  #xs-call{
  color:#F1C40F;
  background-color:#F35F5F;
  margin: 7px;
  border: 3px solid #F1C40F;
  border-radius: 20px;
   text-align:center;

}
#call-btn a{
  text-decoration: none;
  color:#F1C40F /*#FFC9CD*/;
  font-size:1.2em;
  /*display:block;*/
}
#call-btn a:hover{
  /*color:#F35F5F;*/
  background-color: #F0F3F4/*#F9F5F5*/;
  border-radius:10px;
  padding-left:50px;
  padding-right:50px;
}

#xs-deliver{
  color:#900C3F;
  font-size:60%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
    background-position: center;
  }
#menu-tile #special-tile{
  width: 360px;
  margin: 0 auto 15px;
}

.panel-footer section{
  text-align:center;
}
.panel-footer section:nth-child(3){
  margin-bottom:0;
}
.panel-footer section hr{
  width:50%;
}
/*//----------------------End of Home page----------------------//*/
.menu-item-photo{
  margin-left:auto;
  margin-right:auto;
}
.menu-item-description{
  text-align: center;
}

}

@media (max-width: 479px){

#navbar-brand h1{
  padding-top:5px;
  font-size:5vw;
}

  #menu-tile #special-tile{
    width:280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float:left;
    width:100%;
  }
}







